*.ipynb_checkpoints

*.pyc

*./results/

*.log

output/

output_all_approved_manual/

examples/

input/

new_*/

Post_result_annotation.py

test2/

covid_new_results_20210901/

deepddi/.ipynb_checkpoints